<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <title>Articles</title>
</head>
<body>
  <section ng-view></section>

  <script type="text/javascript">
    /*
    To manage AngularJS authentication, it makes the Express application
    render the user object directly in the EJS view and then use an AngularJS service to wrap the object.
    */
    window.user = <%- user || 'null' %>;
  </script>
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="/articles/articles.client.module.js"></script>
  <script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
  <script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
  <script type="text/javascript" src="/articles/routes/articles.client.routes.js"></script>
  <script type="text/javascript" src="/users/users.client.module.js"></script>
  <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
  <script type="text/javascript" src="/article.application.js"></script>

</body>
</html>
