<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <title>User list</title>

  <%include ./include/include-src.html%>
  <script src="/cli_controllers/users.client.controller.js"></script>
  <script src="/services/users.client.service.js"></script>
</head>

<body ng-app="users">

<!-- NAVIGATION -->
  <%include ./include/top-menu.ejs%>

<!-- MAIN CONTENT -->
<div class="container">
<!-- code reference: https://scotch.io/tutorials/angular-routing-using-ui-router -->
    <div ui-view></div>
</div>
</body>
</html>
