
<!-- jquery should be prior to bootstrap-->
<script src="/lib/jquery/dist/jquery.min.js"></script>

<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-resource/angular-resource.js"></script>
<script src="/lib/angular-animate/angular-animate.js"></script>
<script src="/lib/angular-smart-table/dist/smart-table.js"></script>
<script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
