<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/users">User</a></li>
      <li><a href="/example">Example</a></li>
      <li><a href="/articles">Articles</a></li>
      <% if (userFullName) { %>
        <li><a href="/signout">Sign out</a></li>
      <% } else { %>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/signin">Signin</a></li>
      <% } %>
    </ul>
</nav>
